<div class="article">
  <h2><a href="/blog/<%= entry.title %>/"><%= entry.title %></a></h2>
  <p>Posted by <a href="#"><%= entry.author %></a>,
      <%= entry.posted %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="/blog/<%= entry.title %>/edit">Edit</a>

      <br>
      Filed under:
      <% if (! entry.categories && entry.categories.length) { %>
      (no categories)
      <% } else { %>
          <% for (j = 0; j < entry.categories.length; j++) { %>
          <a href="#"><%= entry.categories[j] %></a>
          <% } %>
      <% } %>
  </p>

  <%- entry.body %>

  <p class="uarticle">
      Tagged:
      <% if (! entry.tags && entry.tags.length) { %>
      (no tags)
      <% } else { %>
          <% for (j = 0; j < entry.tags.length; j++) { %>
          <a href="#"><%= entry.tags[j] %></a>
          <% } %>
      <% } %>
  </p>
  <p class="uarticle"><a href="/blog/<%= entry.title %>/">Comments (<%= (entry.comments && entry.comments.length) || entry.comments || 0 %>)</a></p>
</div>
